body {
  text-align:center;
  background-image: url("../img/aboutPage.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment:fixed;
  font-family: 'Open Sans', sans-serif;
  margin:auto;
  background-position:center center;
}

img{
  position:center;
  padding-left:400px;
}

.feature{
  text-align:center;
}
  
h1 {
  font-family:Alex Brush;
  color:#ffffff;
  font-size:28px;
  text-align:center;
  padding-top: 40px;
  padding-left:380px;
           
}


p {
  letter-spacing: 0.31px;
  line-height: 30px;
  font-family:Times; 
  color:#ffffff;
  font-size:20px;
  text-align:justify;
  padding-left:420px;
  padding-right:20px;

}

.about {
  font-family:Alex Brush;
  color:#000000;
  font-size:35px;
  letter-spacing: 0.51px;
  text-align:center;
  position:fixed;
  padding-top:200px;
  padding-left:43px;
  position:fixed;
  
}

.left{
  width:5%;
}

.right{
  width:95%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-top:30px;
  position:fixed;
  padding-left:0px;
  font-size:11.2px;
}

li {
  float: left;
}

li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-family:Impact;
}

li a:hover {
  background-color: #000000;
  color:#ffffff;
}

/* Below codes are for aboutPage */


