body {
  text-align:center;
  background-image: url("../img/contactPage.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment:fixed;
  font-family: 'Open Sans', sans-serif;
  margin:auto;
  background-position:center center;
}

img{
  position:center;
  padding-left:450px;
}

h1 {
  font-family:Times;
  color:#E7D873;
  font-size:30px;
  text-align:center;
  padding-top: 40px;
  padding-left:450px;         
}

h2 {
  color:#ffffff;
  font-size:25px;
  text-align:center;
  padding-left:500px;
  padding-right:20px;
  font-family:Times;
}

h3 {
  font-family:Times;
  color:#E7D873;
  font-size:30px;
  text-align:center;
  padding-left:450px;         
}

h5 {
  font-family:Times;
  color:#E7D873;
  font-size:20px;
  text-align:center;
  padding-left:450px;         
}

p {
  letter-spacing: 0.31px;
  line-height: 30px;
  font-family:Times; 
  color:#ffffff;
  font-size:20px;
  text-align:justify;
  padding-left:500px;
  padding-right:20px;

}

.about {
  font-family:Alex Brush;
  color:#E7D873;
  font-size:35px;
  letter-spacing: 0.51px;
  text-align:center;
  position:fixed;
  padding-top:240px;
  padding-left:43px;
  position:fixed;
  
}

.left{
  width:5%;
}

.right{
  width:95%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-top:260px;
  position:fixed;
  padding-left:0px;
  font-size:13px;
}

li {
  float: left;
}

li a {
  display: block;
  color: #E7D873;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-family:Times;
}

li a:hover {
  background-color: #000000;
  color:#ffffff;
}

.linkedin {
  display:#000000;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-family:Times;
}



